@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@using EntityLayer.Concrete
@model List<Destination>

@{
    int i = 0;
}
<body>

    <!-- about breadcrumb -->
    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container">
                <h2 class="title">Rotalar </h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="/">Ana Sayfa</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Rotalarımız </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //about breadcrumb -->
    <!--  Work gallery section -->
    <section class="grids-1 py-5">
        <div class="grids py-lg-5 py-md-4">
            <div class="container">
                <h3 class="hny-title mb-5">Rotalarımız</h3>
                <div class="row">
                    @foreach (var item in Model)
                        {
                            if (item.Status == true && i == 0)
                            {
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="column">
                            <a href="/Destination/DestinationDetails/@item.DestinationID"><img src="@item.Image" alt="" class="img-fluid"></a>
                            <div class="info">
                                <h4>@item.City</h4>
                                <p>@item.StayDuration </p>
                                <div class="dst-btm">
                                    <h6 class="">Fiyatından başlar </h6>
                                    <span>$@item.Price</span>
                                </div>
                            </div>
                        </div>
                    </div>
                            }
                            else if (item.Status == true && i == 1)
                            {
                    <div class="col-lg-4 col-md-4 col-6 mt-md-0">
                        <div class="column">
                            <a href="/Destination/DestinationDetails/@item.DestinationID"><img src="@item.Image" alt="" class="img-fluid"></a>
                            <div class="info">
                                <h4>@item.City</h4>
                                <p>@item.StayDuration </p>
                                <div class="dst-btm">
                                    <h6 class="">Fiyatından başlar </h6>
                                    <span>$@item.Price</span>
                                </div>
                            </div>
                        </div>
                    </div>
                            }

                            else if (item.Status == true && i == 2)
                            {
                    <div class="col-lg-4 col-md-4 col-6 mt-md-0 mt-4">
                        <div class="column">
                            <a href="/Destination/DestinationDetails/@item.DestinationID"><img src="@item.Image" alt="" class="img-fluid"></a>
                            <div class="info">
                                <h4>@item.City</h4>
                                <p>@item.StayDuration </p>
                                <div class="dst-btm">
                                    <h6 class="">Fiyatından başlar </h6>
                                    <span>$@item.Price</span>
                                </div>
                            </div>
                        </div>
                    </div>
                            }
                            else if (item.Status == true)
                            {
                    <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                        <div class="column">
                            <a href="/Destination/DestinationDetails/@item.DestinationID"><img src="@item.Image" alt="" class="img-fluid"></a>
                            <div class="info">
                                <h4>@item.City</h4>
                                <p>@item.StayDuration</p>
                                <div class="dst-btm">
                                    <h6 class="">Fiyatından başlar </h6>
                                    <span>$@item.Price</span>
                                </div>
                            </div>
                        </div>
                    </div>
                            }
                        }
                    </div>
                </div>
            </div>
    </section>

</body>
